body
{
margin:0px;
background:#FFFFFF;
font-size:14px;
font-family:Candara,Arial,Hevetica, sans-serif;
color:#333333;
}
a
{
	color:#2579B8;
	font-size:14px;
	
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0px;
}
.mainbody
{

font-family:Candara,Arial,Hevetica, sans-serif;
width:100%;
padding:0px;
border:0px;
border-style:none;
padding-left:auto;
padding-right:auto;
}
.tables
{
	width:100%;
	border:0px;
	padding:0px;
	margin:0px;
	border-spacing:0px;
}
.headerback
{
}
.navigationarea
{
	padding-top:48px;
}
.leftdiv1 {
  width: 200px;
  padding: 0;
  float:left;
 }

.rightdiv1 {
  width: 60%;
  padding: 0;
  float:right;
 }
.headermenubutton
{
padding:25px;
margin-right:15px;
background:#549827;
color:#FFFFFF;
text-decoration:none;
text-transform:uppercase;
font-family:Candara,Arial,Hevetica, sans-serif;
}
.headermenubutton:hover
{
background:#C30;
color:#FFFFFF;
text-decoration:none;
font-family:Candara,Arial,Hevetica, sans-serif;
}
.headerinner
{
	padding-top:12px;
	padding-left:15px;
	height:90px;
}

.title
{
	height:35px;
	background-color:#333;
	color:#FFFFFF;
	border:2px;
	border-color:#FFFFFF;
	border-style:solid;
	border-radius:0px;
	text-decoration:none;
	padding-left:15px;
	padding-top:12px;
	font-weight:bold;
	font-size:18px;
	font-family:Candara,Arial,Hevetica, sans-serif;

text-transform:uppercase;
}
.categorylist
{
color:#333333;
height:22px;
padding-top:8px;
font-size:14px;
text-decoration:none;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
}
.categorylist:hover
{
background-color:#CCDEFF;
height:22px;
padding-top:8px;
font-size:14px;
text-decoration:none;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
}
.categorylist a
{
color:#333;
height:22px;
padding-top:8px;
font-size:14px;
text-decoration:none;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
}


.admintitle
{
color:#000000;
text-decoration:none;
font-weight:bold;
font-size:18px;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
}
.titlewhite
{
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
font-size:18px;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
}
.admintitlewhite
{
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
font-size:18px;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
}

.posttitle
{
color:#333333;
font-size:23px;
text-decoration:none;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
font-weight:bold;
}
.posttitle:hover
{
color:#333333;
font-size:23px;
text-decoration:none;
font-family:Candara,Arial,Hevetica, sans-serif;
text-transform:uppercase;
font-weight:bold;
}
.orangetitle
{
font-size:16px;
color:#CC3300;
height:32px;
text-decoration:none;
font-family:Calibri,Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-weight:bold;
}

.form
{

}
.form:hover
{

}
.formsim
{
	border:1px;
	height:24px;
	width:200px;
	border-style:solid;
	border-color:#CCCCCC;
	color:#666666;
	background-image:url(/administrator/images/leftNavBg.png);
	padding-left:6px;
	font-size:12px;
}
.formsim:hover
{
	border:1px;
	height:24px;
	width:200px;
	border-style:solid;
	border-color:#990000;
	color:#666666;
	background-image:url(/administrator/images/leftNavBg.png);
	padding-left:6px;
	font-size:12px;
}
.formsearch
{
	border:1px;
	height:24px;
	width:405px;
	border-style:solid;
	border-color:#CCCCCC;
	color:#666666;
	background-image:url(/administrator/images/leftNavBg.png);
	padding-left:6px;
	font-size:12px;
}
.formsearch:hover
{
	border:1px;
	height:24px;
	width:405px;
	border-style:solid;
	border-color:#990000;
	color:#666666;
	background-image:url(/administrator/images/leftNavBg.png);
	padding-left:6px;
	font-size:12px;
}
.formmenusimple
{

}
.formmenusimple:hover
{

}
.formmenu
{
   height:34px;
}
.formmenu:hover
{

}
.borderorangetable
{
	border:1px;
	border-style:solid;
	border-color:#F1F1F8;
	border-radius:2px;
	font-size:13px;
}
.borderorangetable:hover
{
	border:1px;
	border-style:solid;
	border-color:#990000;
	color:#333333;
	font-size:13px;
}
.smallbutton
{
	border:0px;
	border-style:solid;
	border-color:#666;
	color:#000000;
}
.buttonsmall
{
	border:1px;
	border-style:solid;
	width:80px;
	border-color:#666;
	background-image:url(/administrator/images/darkBg.jpg);
	color:#FFFFFF;
	height:20px;
}
.buttonsmall:hover
{
	border:1px;
	border-style:solid;
	width:80px;
	border-color:#990000;
	color:#333333;
	background-image:url(/administrator/images/leftNavBg.png);
	height:20px;
}
.button
{
	border:1px;
	border-style:solid;
	width:80px;
	border-color:#666;
		background-image:url(/administrator/images/leftNavBg.png);
	border-radius:3px;
}

.texts
{
font-size:14px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#333333;
}
.textsblue
{
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
color:#0066CC;
text-decoration:none;
font-weight:bold;
word-spacing:2px;
letter-spacing:1px;
}
.searchenginebluetitle
{
font-size:larger;
font-family:Arial, Helvetica, sans-serif;
color:#2541C2;
text-decoration:none;
}
.searchenginegreen
{
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
color:#69B53C;
text-decoration:none;
}
.textswhite1
{
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-decoration:none;
padding:15px 8px 15px 8px;
border-left:solid;
border-left-width:1px;
border-left-color:#C30;

border-right:solid;
border-right-width:1px;
border-right-color:#C30;
}
.textswhite1 a
{
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-decoration:none;
padding:16px 8px 16px 8px;
background-color:#420000;

}
.textswhite1:hover
{
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-decoration:none;
padding:16px 8px 16px 8px;
background-color:#420000;

}
.smallbut
{
	color:#333333;
	background-image:url(/administrator/images/leftNavBg.png);
	border-radius:3px;
	border-width:1px;
	border-bottom-style:solid;
	border-color:#CCC;
}
.leftmenu
{
	color:#333333;
	background-image:url(/administrator/images/leftNavBg.png);
	border-radius:3px;
	border-width:1px;
	border-bottom-style:solid;
	border-color:#CCC;
}
.leftmenu a
{
	text-decoration:none;
	color:#333;
}
.leftmenu a:hover
{
	text-decoration:none;
	color:#FFFFFF;
}
.leftmenu:hover
{
	background-image:url(/administrator/images/darkBg.jpg);
}
.leftmenu:active
{
	background-image:url(images/darkBg.jpg);
}
.textswhite
{
font-size:14px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-decoration:none;
}
.textswhite:Whover
{
font-size:14px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-decoration:none;
}
.textsmall
{
font-size:12px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#333333;
}
.textsmallbig
{
font-size:13px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#333333;
}
.textsmallgreen
{
font-size:13px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#85B53E;
}
.textsmallred
{
font-size:13px;
font-family:Calibri,Arial, Helvetica, sans-serif;
color:#990000;
}
.footer
{
	width:100%;
	border:0px;
	padding:0px;
	margin:0px;
	border-spacing:0px;
	background-color:#CCCCCC;
}
.topbigbuttons
{
	background-image:url(/administrator/images/menuback.png);
}
.topbigbuttons:hover
{
	background-image:url(/administrator/images/menubackup.png);
}
.topbigbuttons1
{
	background-color:#F2F2F2;
	font-size:14px;
	font-family:calibri,Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#CC0000;
}
.topbigbuttons1 a
{
	font-size:14px;
	font-family:calibri,Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#CC0000;
}
.topbigbuttons1:hover
{
	background:#FFDBBF;
	font-size:14px;
	font-family:calibri,Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#FFF;
}
.titlemenu
{
	height:30px;
	background-image:url(/themes/html5/images/darkBg.jpg);
	border-radius:1px;
}


input, textarea { 
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.form label { 
	margin-left: 10px; 
	color: #999999; 
	}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
